In [31]:
import pandas as pd

pd.options.display.max_columns = 100

df = pd.read_csv('Boliga - Behanling1 - Kom, Reg, Type.csv')

df_befolkning = pd.read_csv('Befolkning pr kommune.csv', sep = ';', encoding='latin-1', skiprows=1)
COL = ['Kommunerne', 'Befolkning']
df_befolkning.columns = COL

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
df = df.merge(df_befolkning, how='left', left_on=['Kommune'],
                           right_on=['Kommunerne'], validate = 'm:1')

df = df.drop(columns = ['Kommunerne'])

In [9]:
import pandas as pd

df = pd.read_csv('Boliga - Behandling 2 - Befolkningstal.csv')
df_udd = pd.read_csv('Uddannelse1.csv',  sep = ';', encoding='latin-1')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df_udd

,Unnamed: 0,K¿benhavn,Frederiksberg,Drag¿r,Trnby,Albertslund,Ballerup,Br¿ndby,Gentofte,Gladsaxe,...,Frederikshavn,Hj¿rring,Jammerbugt,L¾s¿,Mariagerfjord,Mors¿,Rebild,Thisted,Vesthimmerlands,Aalborg
0,H10 Grundskole,80248.0,10748.0,1894.0,7962.0,6101.0,8950.0,8030.0,8443.0,10606.0,...,12288.0,13232.0,8167.0,367.0,8806.0,4896.0,5237.0,9495.0,8268.0,34126.0
1,H1001 Ingen uddannelse,1438.0,187.0,31.0,107.0,137.0,118.0,162.0,133.0,159.0,...,189.0,177.0,118.0,4.0,101.0,48.0,43.0,119.0,120.0,415.0
2,H20 Gymnasiale uddannelser,77001.0,10821.0,1067.0,2804.0,2242.0,3047.0,2464.0,6552.0,5554.0,...,2422.0,3043.0,1547.0,59.0,1943.0,816.0,1137.0,1934.0,1426.0,22208.0
3,H30 Erhvervsfaglige uddannelser,71159.0,10377.0,2510.0,10284.0,4888.0,9782.0,7377.0,6791.0,11504.0,...,16370.0,16598.0,9965.0,449.0,10901.0,5243.0,7230.0,11386.0,9756.0,41599.0
4,H35 Adgangsgivende uddannelsesforl¿b,274.0,39.0,3.0,10.0,16.0,25.0,17.0,24.0,45.0,...,29.0,36.0,19.0,1.0,19.0,6.0,19.0,13.0,16.0,336.0
5,"H40 Korte videregende uddannelser, KVU",22399.0,3317.0,580.0,1527.0,919.0,1645.0,1174.0,2471.0,2448.0,...,1824.0,1783.0,1085.0,27.0,1363.0,485.0,1015.0,1252.0,1106.0,7431.0
6,"H50 Mellemlange videregende uddannelser, MVU",73407.0,11586.0,1402.0,3520.0,2793.0,4574.0,2713.0,8058.0,7689.0,...,5028.0,6469.0,3183.0,147.0,3812.0,1491.0,2982.0,3552.0,3031.0,22910.0
7,"H60 Bacheloruddannelser, BACH",30526.0,4514.0,179.0,391.0,320.0,433.0,340.0,1717.0,1158.0,...,236.0,275.0,212.0,9.0,215.0,64.0,218.0,174.0,125.0,5654.0
8,"H70 Lange videregende uddannelser, LVU",105604.0,19866.0,1218.0,2158.0,1298.0,2946.0,1494.0,13597.0,7408.0,...,1188.0,1583.0,997.0,29.0,1234.0,343.0,1718.0,1117.0,767.0,16180.0
9,H80 Ph.d. og forskeruddannelser,8791.0,1716.0,84.0,143.0,90.0,395.0,102.0,1489.0,982.0,...,48.0,87.0,50.0,0.0,65.0,23.0,153.0,38.0,43.0,1342.0
10,H90 Uoplyst mv.,15082.0,1869.0,82.0,389.0,508.0,460.0,540.0,893.0,1088.0,...,566.0,615.0,338.0,19.0,362.0,175.0,199.0,407.0,381.0,3296.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN