# Training model

In [25]:
#Import Packages
from sklearn.linear_model import Lasso
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.datasets import fetch_california_housing
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.model_selection import train_test_split
import tqdm

import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.filterwarnings(action='ignore', category=ConvergenceWarning)


import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd 
import seaborn as sns

df = pd.read_csv('Boliga - Final for training.csv')
df = df.drop(columns = ['isForeclosure','Kommune','Ejerudgift','Relativ Ledighed','Total_reported','Socioeconomic_index','expenses_per_school_student','forest_distance'])
df = df.sample(500)

In [26]:
#Split into X and Y 
df_dum = pd.get_dummies(df, drop_first = True, columns = ['Type'])
#df_dum = df_dum.drop(columns = ['isForeclosure_True'])
X = df_dum.drop(columns = ['price'])
y = df_dum['price']

In [27]:
pd.options.display.max_columns= 100
df_dum.head()

,price,basementSize,buildYear,lotSize,rooms,size,Grundskole,Gymnasiale uddannelser,Erhvervsfaglige uddannelser,KVU,MVU,Bacheloruddannelser,LVU,Kommunal_gennemsnitsinkomst_2017,Population_in_urban_development,average_class_size,expenses_sport_and_other_cultural_activities,lake_distance,doctor_distance,supermarket_distance,school_distance,daycare_distance,hospital_distance,train_distance,pharmacy_distance,library_distance,coast_distance,junction_distance,Type_Ejerlejlighed,Type_Fritidsgrund,Type_Fritidshus,Type_Helårsgrund,Type_Landejendom,Type_Rækkehus,Type_Villa,Type_Villalejlighed
48024,4695000,168,1969,1930,8.0,248,17.010018,4.203878,39.575011,6.943718,20.268546,1.190053,8.957815,325198,80.7,22.1,1227,1.17481,2.23962,1.14586,1.25181,1.05958,3.68598,3339.44,1.91850,3.32420,44.10283,3.05640,0,0,0,0,0,0,1,0
19100,1550000,0,1988,700,4.0,132,23.187883,4.100768,45.031168,5.362939,14.795734,0.757303,4.585029,301658,81.1,20.9,1096,4.92104,7.48676,0.52954,1.11216,0.77847,9.03772,7537.61,7.95405,7.29595,13.79255,3.39131,0,0,0,0,0,0,1,0
16899,995000,0,1979,758,7.0,195,26.217907,3.982689,44.669279,4.163986,14.638283,0.748582,4.099655,281363,75.2,21.5,711,10.16785,5.72101,3.00325,2.82562,3.09302,22.19988,3496.76,6.19394,3.32111,5.54981,16.02047,0,0,0,0,0,0,1,0
29549,895000,0,1972,910,3.0,56,22.895400,3.758452,45.509081,5.289673,15.080207,0.795439,5.114013,293063,83.4,25.4,1042,7.57827,5.37814,5.03511,5.29515,3.89725,13.28010,14516.62,11.47745,10.70897,0.45569,12.24049,0,0,1,0,0,0,0,0
14915,1075000,65,1940,591,4.0,134,21.336112,3.832797,41.175728,5.550294,16.764539,1.086064,8.347541,314113,81.7,22.0,786,2.88054,3.70967,3.31959,4.18666,3.17276,18.09183,377.64,3.70931,3.47106,20.83323,12.08009,0,0,0,0,0,0,1,0

In [28]:
pd.options.display.max_columns = 100
X.head()

,basementSize,buildYear,lotSize,rooms,size,Grundskole,Gymnasiale uddannelser,Erhvervsfaglige uddannelser,KVU,MVU,Bacheloruddannelser,LVU,Kommunal_gennemsnitsinkomst_2017,Population_in_urban_development,average_class_size,expenses_sport_and_other_cultural_activities,lake_distance,doctor_distance,supermarket_distance,school_distance,daycare_distance,hospital_distance,train_distance,pharmacy_distance,library_distance,coast_distance,junction_distance,Type_Ejerlejlighed,Type_Fritidsgrund,Type_Fritidshus,Type_Helårsgrund,Type_Landejendom,Type_Rækkehus,Type_Villa,Type_Villalejlighed
48024,168,1969,1930,8.0,248,17.010018,4.203878,39.575011,6.943718,20.268546,1.190053,8.957815,325198,80.7,22.1,1227,1.17481,2.23962,1.14586,1.25181,1.05958,3.68598,3339.44,1.91850,3.32420,44.10283,3.05640,0,0,0,0,0,0,1,0
19100,0,1988,700,4.0,132,23.187883,4.100768,45.031168,5.362939,14.795734,0.757303,4.585029,301658,81.1,20.9,1096,4.92104,7.48676,0.52954,1.11216,0.77847,9.03772,7537.61,7.95405,7.29595,13.79255,3.39131,0,0,0,0,0,0,1,0
16899,0,1979,758,7.0,195,26.217907,3.982689,44.669279,4.163986,14.638283,0.748582,4.099655,281363,75.2,21.5,711,10.16785,5.72101,3.00325,2.82562,3.09302,22.19988,3496.76,6.19394,3.32111,5.54981,16.02047,0,0,0,0,0,0,1,0
29549,0,1972,910,3.0,56,22.895400,3.758452,45.509081,5.289673,15.080207,0.795439,5.114013,293063,83.4,25.4,1042,7.57827,5.37814,5.03511,5.29515,3.89725,13.28010,14516.62,11.47745,10.70897,0.45569,12.24049,0,0,1,0,0,0,0,0
14915,65,1940,591,4.0,134,21.336112,3.832797,41.175728,5.550294,16.764539,1.086064,8.347541,314113,81.7,22.0,786,2.88054,3.70967,3.31959,4.18666,3.17276,18.09183,377.64,3.70931,3.47106,20.83323,12.08009,0,0,0,0,0,0,1,0

### Split data into Test, Development, Validation and Train

In [29]:
from sklearn.model_selection import train_test_split

X_dev, X_test, y_dev, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

X_train, X_val, y_train, y_val = train_test_split(X_dev, y_dev, test_size = 0.5, random_state = 1)

In [30]:

#corr = df_dum.corr()
#plt.figure(figsize=(14, 10))
#ax = sns.heatmap(
#    corr, 
 #   vmin=-1, vmax=1, center=0,
  #  cmap=sns.diverging_palette(20, 220, n=200),
   # square=True
#)
#ax.set_xticklabels(
 #   ax.get_xticklabels(),
  #  rotation=45,
   # horizontalalignment='right'
#);

In [31]:
#g = sns.pairplot(df.drop(columns = ['isForeclosure', 'Type']))

### Scale, fit and transform data

In [32]:
from sklearn.preprocessing import StandardScaler

#stdscale = StandardScaler(with_mean = 1, with_std = True)

#Scale explanatory variables
#X_train_s = stdscale.fit_transform(X_train)
#X_test_s = stdscale.transform(X_test)


#Scale target variable (because of regression model - no need when categorical)
#y_train_s = stdscale.fit_transform(y_train)
#y_test_s = stdscale.transform(y_test)

### Optimize hyperparameter with K-fold CV

In [33]:
#Find optimized lambda
from sklearn.model_selection import KFold

lambdas =  np.logspace(-4, 4, 12) # define lambda - devide into 12 lambdas between 10**-4 and 10**4
kfolds = KFold(n_splits=5) # define nr. of folds

#Creates lists to append values of the loop:
mse_val_avr = []
mse_test_avr = []
lambda_list = []
mae_val_avr = []
mae_test_avr = []

#Outer-loop (Lambdas)
for lambda_ in tqdm.tqdm(lambdas):
#Inner-loop (Folds)
    mse_val_ = []
    mse_test_ = []
    mae_val_ = []
    mae_test_ = []    
    #Split the dataset into 5 folds, and loop through each fold. 
    # In the iteration, the fold in question acts as the training-set. 
    for train_idx,val_idx in kfolds.split(X_dev, y_dev):
    # train model and compute MSE on test fold
        pipe_Lasso_CV = make_pipeline(PolynomialFeatures(include_bias=False, degree = 3), 
                        StandardScaler(with_mean = 1, with_std = True ),
                        Lasso(alpha = lambda_, random_state=1))
        # Assign X_train & y_train by extracting elements if the folds from X_dev and y_dev
        X_train2, y_train2 = X_dev.iloc[train_idx], y_dev.iloc[train_idx]
        # Assign X_val & y_val by extracting elements of the folds from X_dev and y_dev
        X_val2, y_val2 = X_dev.iloc[val_idx], y_dev.iloc[val_idx] 
        # Fit Lasso-model to training data
        pipe_Lasso_CV.fit(X_train2, y_train2)   
        #Calculate and append the mse into mse_val list:
        mse_val_.append(mse(pipe_Lasso_CV.predict(X_val2), y_val2))
        ##Calculate and append the mse into mse_test list:
        mse_test_.append(mse(pipe_Lasso_CV.predict(X_test), y_test))
        #Calculate and append the mse into mse_val list:
        mae_val_.append(mae(pipe_Lasso_CV.predict(X_val2), y_val2))
        ##Calculate and append the mse into mse_test list:
        mae_test_.append(mae(pipe_Lasso_CV.predict(X_test), y_test))
        
        
        
    mse_val_avr.append(sum(mse_val_)/len(mse_val_))
    mse_test_avr.append(sum(mse_val_)/len(mse_val_))
    #mse_val.append(mse_val_)
    #mse_test.append(mse_test_)
    mae_val_avr.append(sum(mae_val_)/len(mae_val_))
    mae_test_avr.append(sum(mae_val_)/len(mae_val_))

df_val = pd.DataFrame(mse_val_avr, index = lambdas)
df_test = pd.DataFrame(mse_test_avr, index = lambdas)
df_join = pd.concat([df_test, df_val], axis=1)
df_with_index = df_join.reset_index()

df_val2 = pd.DataFrame(mae_val_avr, index = lambdas)
df_test2 = pd.DataFrame(mae_test_avr, index = lambdas)
df_join2 = pd.concat([df_test2, df_val2], axis=1)
df_with_index2 = df_join2.reset_index()

#Convert to list
mses = df_with_index.values.tolist()
maes = df_with_index.values.tolist()

100%|██████████| 12/12 [01:29<00:00,  7.70s/it]

In [34]:
pd.options.display.float_format = "{:.2f}".format

In [35]:
df_join

                         0                 0
0.00     98958013955261.59 98958013955261.59
0.00     98958021584484.34 98958021584484.34
0.00     98958061522743.00 98958061522743.00
0.02     98958240425784.47 98958240425784.47
0.08     98980518458210.89 98980518458210.89
0.43     99067849233516.09 99067849233516.09
2.31     89121056844302.48 89121056844302.48
12.33    81675391053536.64 81675391053536.64
65.79    49466107585265.73 49466107585265.73
351.12   22256800523578.42 22256800523578.42
1873.82  34290018496735.40 34290018496735.40
10000.00 27594294835582.75 27594294835582.75

In [36]:
df_join2

                  0          0
0.00     2815136.59 2815136.59
0.00     2815140.08 2815140.08
0.00     2815158.66 2815158.66
0.02     2815255.88 2815255.88
0.08     2815799.59 2815799.59
0.43     2818234.11 2818234.11
2.31     2803131.61 2803131.61
12.33    2685489.36 2685489.36
65.79    2328257.99 2328257.99
351.12   1886114.52 1886114.52
1873.82  1688163.76 1688163.76
10000.00 1273910.69 1273910.69