In [6]:
import pandas as pd
df = pd.read_csv('howlongdf.csv')
df2 = pd.read_csv('Boliga - Behandling 4 - Med etnosociodata.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.shape

(65559, 47)

In [7]:
df2.shape

(65559, 82)

In [8]:
pd.options.display.max_columns = 100

In [9]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,agentDisplayName,agentRegId,area,basementSize,buildYear,city,createdDate,daysForSale,domainId,energyClass,exp,floor,groupKey,guid,id,images,inWatchlist,isActive,isForeclosure,isPremiumAgent,latitude,longitude,lotSize,municipality,net,openHouse,price,priceChangePercentTotal,propertyType,rooms,selfsale,size,squaremeterPrice,street,views,zipCode,addr_full,coordinate,Kommune,Region,Type,Befolkning,hvorlangt_total
0,0,0,0,0,NaN,24254,1,0,1767,København K,2019-05-22T00:35:07.000Z,93,944,-,16872,3.0,NaN,147A17D5-24CA-4788-8009-F53DEFF2836C,1559151,"[{'id': 1559151, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67996,12.58478,0,101,67026,NaN,18750000,0,3,6.0,False,280,66964.0,"Kongens Nytorv 21, 3. tv",557,1050,"Kongens Nytorv 21, 3. tv København K","55.679959999999994, 12.58478",København,Region Hovedstaden,Ejerlejlighed,626508,"{'lake': 1132.04, 'forest': 7227.33, 'doctor':..."
1,1,1,1,1,NaN,207,1,88,1880,København K,2019-06-14T03:27:01.490Z,70,7,C,5702,NaN,1.0,EE6F79CE-E04F-4D59-9845-E08F98251FC9,1567291,"[{'id': 1567291, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67926,12.59149,0,101,0,NaN,10500000,0,3,4.0,False,83,126506.0,"Nyhavn 38, st. Dør/lejl. 4",139,1051,"Nyhavn 38, st. Dør/lejl. 4 København K","55.67926, 12.59149",København,Region Hovedstaden,Ejerlejlighed,626508,"{'lake': 1204.41, 'forest': 7301.06, 'doctor':..."
2,2,2,2,2,NaN,117,1,0,1755,København K,2019-04-24T00:09:51.880Z,121,171,C,9486,1.0,NaN,23F2A968-9A3B-44C0-BB55-22A9005DEC2C,1549766,"[{'id': 1549766, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67981,12.59206,0,101,0,NaN,15000000,0,3,7.0,False,274,54744.0,"Nyhavn 53, 1.",110,1051,"Nyhavn 53, 1. København K","55.679809999999996, 12.59206",København,Region Hovedstaden,Ejerlejlighed,626508,"{'lake': 1188.99, 'forest': 7361.08, 'doctor':..."
3,3,3,3,3,NaN,17151,1,0,1880,København K,2019-05-08T00:04:30.737Z,107,91,C,17609,5.0,1.0,0CB9E79E-C298-47B9-88E4-23F67F0A0A5B,1554276,"[{'id': 1554276, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67926,12.59149,0,101,70224,2019-08-25T14:00:00.000Z,19995000,0,3,7.0,False,296,67550.0,"Nyhavn 38, 5. tv.",317,1051,"Nyhavn 38, 5. tv. København K","55.67926, 12.59149",København,Region Hovedstaden,Ejerlejlighed,626508,"{'lake': 1204.41, 'forest': 7301.06, 'doctor':..."
4,4,4,4,4,NaN,17489,1,0,1873,København K,2019-07-12T03:21:26.060Z,42,9,C,5590,3.0,NaN,A7380CBF-7220-447E-878E-5B044910369E,1576691,"[{'id': 1576691, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67852,12.59114,0,101,0,NaN,8750000,0,3,7.0,False,163,53680.0,"Herluf Trolles Gade 22, 3. th",122,1052,"Herluf Trolles Gade 22, 3. th København K","55.67851999999999, 12.59114",København,Region Hovedstaden,Ejerlejlighed,626508,"{'lake': 1252.92, 'forest': 7231.67, 'doctor':..."

In [10]:
df2.head()

,basementSize,buildYear,city,createdDate,daysForSale,Ejerudgift,floor,id,isForeclosure,latitude,longitude,lotSize,municipality,price,rooms,size,street,zipCode,coordinate,Kommune,Region,Type,Befolkning,Relativ Ledighed,Grundskole,Gymnasiale uddannelser,Erhvervsfaglige uddannelser,KVU,MVU,Bacheloruddannelser,LVU,Kommunal_gennemsnitsinkomst_2017,danish_origin,immigrants_Western,immigrants_Non_Western,descendants_Western,descendants_Non_Western,Murder&Arson_reported,Murder&Arson_charged,Breaking&entering_reported,Breaking&entering_charged,Narcotics_reported,Narcotics_charged,Robbery_reported,Robbery_charged,Indecency_reported,Indecency_charged,Theft_reported,Theft_charged,Assault_reported,Assault_charged,Total_reported,Total_charged,Population_density(pop/km2),Population_in_urban_development,Socioeconomic_index,expenditure_per_capita,Service_expenses_per_capita,church_tax,land_tax(‰),land_value_per_capita,taxable_income_per_capita,expenses_development,expenses_transport&infrastructure,expenses_public_school_per_capita,expenses_daycare_per_capita,long_term_debt_per_capita,liquid_assets_per_capita,expenses_daycare_per_0-13yo(brutto),expenses_daycare_per_0-13yo(netto),monthly_price_daycare(3-5yo),education_expenses(6-16yo),expenses_per_school_student,number_of_public_schools,number_of_ordinary_classes,average_class_size,library_expenses_per_capita,expenses_sport_and_other_cultural_activities,expenses_elder(+67yo),sickness_benefits_per_17-64yo,expenses_for_assistance(17-64yo),expenses_for_reschooling(17-64yo)
0,0,1767,København K,2019-05-22T00:35:07.000Z,93,16872,3.0,1559151,False,55.67996,12.58478,0,101,18750000,6.0,280,"Kongens Nytorv 21, 3. tv",1050,"55.679959999999994, 12.58478",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
1,88,1880,København K,2019-06-14T03:27:01.490Z,70,5702,0.0,1567291,False,55.67926,12.59149,0,101,10500000,4.0,83,"Nyhavn 38, st. Dør/lejl. 4",1051,"55.67926, 12.59149",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
2,0,1755,København K,2019-04-24T00:09:51.880Z,121,9486,1.0,1549766,False,55.67981,12.59206,0,101,15000000,7.0,274,"Nyhavn 53, 1.",1051,"55.679809999999996, 12.59206",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
3,0,1880,København K,2019-05-08T00:04:30.737Z,107,17609,5.0,1554276,False,55.67926,12.59149,0,101,19995000,7.0,296,"Nyhavn 38, 5. tv.",1051,"55.67926, 12.59149",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
4,0,1873,København K,2019-07-12T03:21:26.060Z,42,5590,3.0,1576691,False,55.67852,12.59114,0,101,8750000,7.0,163,"Herluf Trolles Gade 22, 3. th",1052,"55.67851999999999, 12.59114",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493

In [11]:
df = df[['id','hvorlangt_total']].copy()

In [12]:
df.head()

        id                                    hvorlangt_total
0  1559151  {'lake': 1132.04, 'forest': 7227.33, 'doctor':...
1  1567291  {'lake': 1204.41, 'forest': 7301.06, 'doctor':...
2  1549766  {'lake': 1188.99, 'forest': 7361.08, 'doctor':...
3  1554276  {'lake': 1204.41, 'forest': 7301.06, 'doctor':...
4  1576691  {'lake': 1252.92, 'forest': 7231.67, 'doctor':...

In [13]:
df.shape

(65559, 2)

In [22]:
df = df.drop_duplicates()

In [23]:
df.shape

(65558, 2)

In [24]:
df2 = df2.drop_duplicates()

In [25]:
df2.shape

(65558, 82)

In [26]:
finaldf = df2.merge(df, how='left', left_on = df2['id'], right_on = df['id'], validate= 'm:1')

In [21]:
df2['id'].unique()

array([1559151, 1567291, 1549766, ..., 1564194, 1531104, 1573049])

In [27]:
finaldf.shape

(65558, 85)

In [31]:
finaldf = finaldf.drop(columns=['id_y']).copy()

In [32]:
finaldf.head()

,key_0,basementSize,buildYear,city,createdDate,daysForSale,Ejerudgift,floor,id_x,isForeclosure,latitude,longitude,lotSize,municipality,price,rooms,size,street,zipCode,coordinate,Kommune,Region,Type,Befolkning,Relativ Ledighed,Grundskole,Gymnasiale uddannelser,Erhvervsfaglige uddannelser,KVU,MVU,Bacheloruddannelser,LVU,Kommunal_gennemsnitsinkomst_2017,danish_origin,immigrants_Western,immigrants_Non_Western,descendants_Western,descendants_Non_Western,Murder&Arson_reported,Murder&Arson_charged,Breaking&entering_reported,Breaking&entering_charged,Narcotics_reported,Narcotics_charged,Robbery_reported,Robbery_charged,Indecency_reported,Indecency_charged,Theft_reported,Theft_charged,Assault_reported,Assault_charged,Total_reported,Total_charged,Population_density(pop/km2),Population_in_urban_development,Socioeconomic_index,expenditure_per_capita,Service_expenses_per_capita,church_tax,land_tax(‰),land_value_per_capita,taxable_income_per_capita,expenses_development,expenses_transport&infrastructure,expenses_public_school_per_capita,expenses_daycare_per_capita,long_term_debt_per_capita,liquid_assets_per_capita,expenses_daycare_per_0-13yo(brutto),expenses_daycare_per_0-13yo(netto),monthly_price_daycare(3-5yo),education_expenses(6-16yo),expenses_per_school_student,number_of_public_schools,number_of_ordinary_classes,average_class_size,library_expenses_per_capita,expenses_sport_and_other_cultural_activities,expenses_elder(+67yo),sickness_benefits_per_17-64yo,expenses_for_assistance(17-64yo),expenses_for_reschooling(17-64yo),hvorlangt_total
0,1559151,0,1767,København K,2019-05-22T00:35:07.000Z,93,16872,3.0,1559151,False,55.67996,12.58478,0,101,18750000,6.0,280,"Kongens Nytorv 21, 3. tv",1050,"55.679959999999994, 12.58478",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1132.04, 'forest': 7227.33, 'doctor':..."
1,1567291,88,1880,København K,2019-06-14T03:27:01.490Z,70,5702,0.0,1567291,False,55.67926,12.59149,0,101,10500000,4.0,83,"Nyhavn 38, st. Dør/lejl. 4",1051,"55.67926, 12.59149",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1204.41, 'forest': 7301.06, 'doctor':..."
2,1549766,0,1755,København K,2019-04-24T00:09:51.880Z,121,9486,1.0,1549766,False,55.67981,12.59206,0,101,15000000,7.0,274,"Nyhavn 53, 1.",1051,"55.679809999999996, 12.59206",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1188.99, 'forest': 7361.08, 'doctor':..."
3,1554276,0,1880,København K,2019-05-08T00:04:30.737Z,107,17609,5.0,1554276,False,55.67926,12.59149,0,101,19995000,7.0,296,"Nyhavn 38, 5. tv.",1051,"55.67926, 12.59149",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1204.41, 'forest': 7301.06, 'doctor':..."
4,1576691,0,1873,København K,2019-07-12T03:21:26.060Z,42,5590,3.0,1576691,False,55.67852,12.59114,0,101,8750000,7.0,163,"Herluf Trolles Gade 22, 3. th",1052,"55.67851999999999, 12.59114",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1252.92, 'forest': 7231.67, 'doctor':..."

In [140]:
from ast import literal_eval

poitypes = ["lake", "forest", "doctor", "supermarket", "school", "daycare", "hospital", "metro",
            "train", "stop", "strain", "junction", "pharmacy", "library", "coast", "airport"]
def get_lakekey(key_column):
    key_column = literal_eval(key_column)
    return key_column['lake']
def get_forestkey(key_column):
    return key_column['forest']
def get_doctorkey(key_column):
    return key_column['doctor']
def get_supermarketkey(key_column):
    return key_column['supermarket']
def get_schoolkey(key_column):
    return key_column['school']
def get_daycarekey(key_column):
    return key_column['daycare']
def get_hospitalkey(key_column):
    return key_column['hospital']
def get_metrokey(key_column):
    return key_column['metro']
def get_trainkey(key_column):
    return key_column['train']
def get_stopkey(key_column):
    return key_column['stop']
def get_strainkey(key_column):
    return key_column['strain']
def get_junctionkey(key_column):
    return key_column['junction']
def get_pharmacykey(key_column):
    return key_column['pharmacy']
def get_librarykey(key_column):
    return key_column['library']
def get_coastkey(key_column):
    return key_column['coast']
def get_airportkey(key_column):
    return key_column['airport']

In [141]:
finaldf['lake_distance'] = finaldf['hvorlangt_total'].apply(get_lakekey)

In [143]:
poitypes = ["lake", "forest", "doctor", "supermarket", "school", "daycare", "hospital", "metro",
            "train", "stop", "strain", "junction", "pharmacy", "library", "coast", "airport"]
finaldf['forest_distance'] = finaldf['hvorlangt_total'].apply(get_forestkey)
finaldf['doctor_distance'] = finaldf['hvorlangt_total'].apply(doctor_lakekey)
finaldf['supermarket_distance'] = finaldf['hvorlangt_total'].apply(get_supermarketkey)
finaldf['school_distance'] = finaldf['hvorlangt_total'].apply(get_schoolkey)

TypeError: string indices must be integers

In [ ]:
finaldf['daycare_distance'] = finaldf['hvorlangt_total'].apply(get_daycarekey)
finaldf['hospital_distance'] = finaldf['hvorlangt_total'].apply(get_hospitalkey)
finaldf['metro_distance'] = finaldf['hvorlangt_total'].apply(get_metrokey)
finaldf['train_distance'] = finaldf['hvorlangt_total'].apply(get_trainkey)

In [ ]:
finaldf['pharmacy_distance'] = finaldf['hvorlangt_total'].apply(get_pharmacykey)
finaldf['library_distance'] = finaldf['hvorlangt_total'].apply(get_librarykey)
finaldf['coast_distance'] = finaldf['hvorlangt_total'].apply(get_coastkey)
finaldf['airport_distance'] = finaldf['hvorlangt_total'].apply(get_airportkey)

In [ ]:
finaldf['stop_distance'] = finaldf['hvorlangt_total'].apply(get_stopkey)
finaldf['strain_distance'] = finaldf['hvorlangt_total'].apply(get_strainkey)
finaldf['junction_distance'] = finaldf['hvorlangt_total'].apply(get_junctionkey)